<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Catalogo</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="items">
    <!--binding del dom al property del objeto
    [propiedadDelComponente]="valorDesdeElDOM"
    bind-propiedadDelComponente="valorDesdeElDOM"
    -->
    <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let item of items" [routerLink]="['/itemdetail',item.id]">
        <img height="200px" src={{item.image}} alt={{item.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{item.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="items"> <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4> </div>


</div>
